doctype 5
html
  head
    title #{band_name} Songs Report for #{formatted_time}
    style #{style_info}

div.report_title Songs Report
div.report_title #{band_name}
div.report_title #{formatted_time}
div.report
  div.report_summary
    div.report_summary_text
      div Overall Average Rating: #{average_rating}
      div Overall Average Agreement: #{average_agreement}%

    div.report_summary_text
      div Total Members in Band: #{member_count}
      div Total Songs in Band: #{song_count}

  div.report_section
    div.report_subsection
      table.report_song_table
        caption Ten Highest Rated Songs
        thead
          tr
            th.string.name Song Name
            th.string.name Artist Name
            th.number Average Rating
            th.number Agreement

        tbody
          each song in tables.average_hi_to_lo
            tr
              td.string.name #{song.song_name}
              td.string.name #{song.artist_name}
              td.number #{song.average_rating.toFixed(2)}
              td.number #{song.agreement}%

    div.report_subsection
      table.report_song_table
        caption Ten Most Agreed Upon Songs
        thead
          tr
            th.string.name Song Name
            th.string.name Artist Name
            th.number Agreement
            th.number Average Rating

        tbody
          each song in tables.variance_lo_to_hi
            tr
              td.string.name #{song.song_name}
              td.string.name #{song.artist_name}
              td.number #{song.agreement}%
              td.number #{song.average_rating.toFixed(2)}

  div.report_section
    div.report_subsection
      table.report_song_table
        caption Ten Lowest Rated Songs
        thead
          tr
            th.string.name Song Name
            th.string.name Artist Name
            th.number Average Rating
            th.number Agreement

        tbody
          each song in tables.average_lo_to_hi
            tr
              td.string.name #{song.song_name}
              td.string.name #{song.artist_name}
              td.number #{song.average_rating.toFixed(2)}
              td.number #{song.agreement}%

    div.report_subsection
      table.report_song_table
        caption Ten Least Agreed Upon Songs
        thead
          tr
            th.string.name Song Name
            th.string.name Artist Name
            th.number Agreement
            th.number Average Rating

        tbody
          each song in tables.variance_hi_to_lo
            tr
              td.string.name #{song.song_name}
              td.string.name #{song.artist_name}
              td.number #{song.agreement}%
              td.number #{song.average_rating.toFixed(2)}

