div.container
  if sections.edit_form
    div.edit_form

  if sections.creator
    if sections.editor || sections.display
      input(type="checkbox", id="show_#{tab_id}_creator")
      label(for="show_#{tab_id}_creator") Add

    div.creator
      div.new

  if sections.multiedit
    if sections.display
      input(type="checkbox", id="show_#{tab_id}_editor")
      label(for="show_#{tab_id}_creator") Add

    div.editor
      div
        input(type="checkbox", id="show_#{tab_id}_create_new")
        label(for="show_band_create_new") New
        div.add
        div.new

  if sections.display
    if sections.editor || sections.creator || sections.multiedit
      input(type="checkbox", id="show_#{tab_id}_display", checked)
      label(for="show_#{tab_id}_display") List

    div.display
      input(type="button", id="add_#{tab_id}_button", value="+", name="add")
      label(for="add_#{tab_id}_button") Add
      div.filters
      div.list