div
  input(type="checkbox", id="show_song_create_new")
  label(for="show_song_create_new") Create A New Song in Master List
  div.add
    form
      input(type="hidden", name="band_id", value="#{band_id}")
      select(name="song_id")
        each song in other_songs
          option(value="#{song.id}") #{song.description}
      input(type="submit", value="Add")
  div.new
    form
      input(type="text", name="song_name", placeholder="New Song Name")
      select(name="artist_id")
        each artist in artists
          option(value="#{artist.id}") #{artist.name}
      input(type="submit", value="New")
